<br><br>
<% unless signed_in? %>
	<% provide(:title, "Iniciar Sesión") %>
	<div class="col-md-4 col-md-offset-4">
	    <%= form_for(:session, url: sessions_path) do |f| %>

			<%= f.label :email %>
			<%= f.text_field :email, { :class => "form-control" } %>

			<%= f.label :password, :for => "session_password" %>
			<%= f.password_field :password, { :class => "form-control" } %>
			<br>
	    <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
			<%= link_to 'Twitter', '/auth/twitter', class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
<% else %>
	<% provide(:title, "#{current_user.name}") %>
	<div>
		<h2 class="title"><%= "#{current_user.name} is logged-in"%></h2>
	</div>
<% end %>