<h1>Bienvenido a la aplicación</h1>

<h1>Agrega tu propuesta</h1>

<%= form_for @proposal do |f| %>
  <%= f.text_field :name,   placeholder: "Nombre" %>
  <%= f.text_field :avatar, placeholder: "Avatar" %>
  <%= f.submit "Enviar" %>

<% end %>

<% if @proposals.any? %>
  <% @proposals.each do |proposal| %>
    <%= image_tag("#{proposal.avatar}", width: "150px") %>
    <span><%= proposal.name %></span>
    <span><%= link_to "Editar", edit_proposal_path(proposal) %>
    </span>
    <span><%= link_to "Borrar", proposal_path(proposal),
                      method: :delete,
                      data: { confirm: "¿Seguro que quieres eliminar la propuesta?" } %>
    </span>
  <% end %>
<% else %>
    <p>No has agregado propuestas aún</p>
<% end  %>
